body{
    background-image: linear-gradient(to right bottom,#00F260,#0575E6);
    background-attachment: fixed;
}
.container{
    padding-top: 50px;
    padding-bottom: 50px;
}

.app__row{
    height: 86vh;
    text-align: left;
}
.navbar__active{
    text-align: center;
}
.image_nav{
    height: 50px;
    width: 70px;
}

.ap__sidebar{
    background-color:white;
    height: 100%;
    border-radius: 20px;
    padding: 30px 15px;
    box-shadow: 0 0 10px black;
    text-align: center;
}

.ap__main-content{
    background-color: white;
    border-radius: 20px;
   
    padding: 25px 30px;
      box-shadow: 0 0 10px black;
}
.sidebar__image{
    height: 110px;
    width: 120px;
    object-fit: contain;
    border-radius: 30px;
}
.sidebar__icon{
    height: 50px;
    width: 50px;
    margin: 10px;
}
.sidebar__name{
    font-size: 1.5rem;
    margin: 15px;
    border-radius: 30px;
}
.sidebar__item{
    margin-bottom: 6px;
    margin-top: 10px;
    height: 40px;
    font-size: 1.05rem;
}
.contact{
   
    margin: 10px;
}
.sidebar__title{
    background-color: #f1f1f1;
    border-radius: 30px;
}

@media(max-width:991px) {
    .ap__main-content{
        margin: 30px 0;
    }
}

.navbar__active{
    font-size: 2rem;
    font-weight: 700;
    color: #354358;
    border-bottom: 4px solid #00F260;
}
.resume__card{
    margin-top: 10px;
}
.resume-card__heading,.resume-language__heading{
    margin-left: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #354538;
}
.resume-card__body{
    margin-top: 10px;
}
.resume-card__title{
    font-weight: 700;
} 
.bar{
    width: 90%;
    background-color: #f1f2f3;
    border-radius: 20px;
    margin-bottom: 12px;
}
.bar__icon{
    width: 15px;
    height: 15px;
}

.bar__wrapper{
    background-image: linear-gradient(90deg,#00F260,#0575E6);
    border-radius: 20px;
    padding: 4px 14px;
    color:#fff;
    font-size: 0.9rem;

} 


@media (max-width: 600px) {
    .app__main-content {
        margin-right: 10px;
        margin-left: 10px;
    }

    .navbar__active {
        font-size: 1.5rem;
    }

    .navbar__item {
        font-size: 1rem;
    }
}