.title {
    font-size: 150px;
    text-align: center;
    margin-top: 170px;
    
    color: white;
    
}
.motto {
    font-family: 'Montserrat';
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
    
}
.sp{
    font-family: 'Montserrat', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:120px;
      letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 
                          8px 8px #ff1f8f,
                          20px 20px #000000;
  }
  @import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');